/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
	background: url("gull.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	line-height: 1.325em;
	font-size: 1.02em;
	color: #555;
	font-weight: 700;
}	

p {
	margin: 15px 0;
}	

strong {
	font-size: 1.5em;
}

header {
	background: #111;
	min-height: 100px;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
}

#logo {
	max-width: 50%;
	margin-top: 15px;
	float: left;
}

h1 {
	margin-bottom: 20px;
	padding-bottom: 3px;
	font-size: 1.05em;
	text-transform: uppercase;
	color: #333;
	border-bottom: 1px dotted #333;
}

input#paragraphs {
	width: 20px;
	padding-left: 5px;
	background: none;
	font-size: .9em;
	color: #333;
}

label {
	padding: 10px;
	text-transform: uppercase;
	font-size: .9em;
	color: #333;
}

input[type="submit"] {
	display: block;
	float: right;
	padding: 4px;
	background: #333;
	border: none;
	text-transform: uppercase;
	color: #fff;
	&:hover {
		background: #777;
		cursor: pointer;
	}
}

#ipsum-request {
	width: 200px;
	float: right;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 5px;
	border-radius: 3px;
}

#ipsum-container {
	padding: 30px;
	margin-bottom: 145px;
	margin-top: 50px;
	clear: both;
	border-radius: 5px;
	background: rgba(255,255,255,.8);
	a:link,
	a:visited,
	a:active {
		display: inline-block;
		padding-bottom: 1px;
		text-decoration: none;
		color: #9f3920;
		border-bottom: 1px dotted #9f3920;
	}
}

nav {
	float: right;
	margin-top: 40px;
	li {
		float: left;
		padding-right: 20px;
		&:last-child {
			padding-right: 0;
		}
		a:link,
		a:visited {
			text-decoration: none;
			color: #fff;
			transition: all .3s;
		}
		a:hover,
		a:active {
			color: gold;
		}
	}
}

#footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	p {
		color: #fff;
		line-height: 1.3em;
		margin: 0;
		padding: 5px;
	}
	a:link,
	a:visited,
	a:active {
		text-decoration: none;
		color: gold;
	}
	&-content {
		text-align: center;
		width: 100%;
		max-width: 750px;
		margin: 0 auto;
	}
}
