	<body id="about">

		<header>
			<div class="wrapper">
				<a href="/"><img id="logo" src="img/logo.png" alt="Gull Ipsum | a squawkingly good lorem ipsum alternative" /></a>
				
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
					<ul>
				</nav>
				

			</div>
		</header>

		<div class="wrapper">

			<div id="ipsum_container">
				<p><strong>Who? And why?</strong></p>
				<p>Gull Ipsum was created by Tim Rohweder as a fun JavaScript project. And because he thought there needed to be just one more ridiculous lorem ipsum generator out there.</p>
				<p>Tim owns the web design studio <a href="http://timothyred.com">Timothy Red</a>. You can contact him there if you like. He'll add more witty and charming content to this page when he has time.</p><br />
				<p><strong>What is Lorem Ipsum?</strong></p>
				<p>Lorem ipsum generators gives dummy text to designers so they can see what a project looks like, without the actual written copy.</p>
			</div>