	<body>

		<header>
			<div class="wrapper">
				<a href="/"><img id="logo" src="/img/logo.png" alt="Gull Ipsum | a squawkingly good lorem ipsum alternative" /></a>
				
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
					<ul>

				</nav>
				

			</div>
		</header>

		<div class="wrapper">
				<div id="ipsum_request">
						<label for="paragraphs">Paragraphs</label>
						<input type="text'" id="paragraphs" value="3" maxlength="2">
						<input type="submit" value="Go" onclick="buttonClick()" />
				</div>
			
			<div id="ipsum_container">
				<h1 id="ipsum_heading"></h1>
				<p id="ipsum"></p>
			</div>