	<body id="home">

		<header>
			<div class="wrapper">
				<span class="titulo">Beirão Ipsum</span>
				
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">Sobre</a></li>
					<ul>

				</nav>
				

			</div>
		</header>

		<div class="wrapper">
				<div id="ipsum-request">
						<label for="paragraphs">Quantos parágrafos deseja gerar?</label>
						<input type="text" id="paragraphs" value="2" maxlength="2" />
						<input type="submit" value="Go" />
				</div>			
			<div id="ipsum-container"></div>